  </main>
  <footer class="site-footer">
    <div class="container">
      <p>Lab 5 Coursework&copy; <%= new Date().getFullYear() %> <%= shopName %>. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
