<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
    <h1>Welcome to <%=shopName%> Shop</h1>
    <h2>Here is the Survey Page:</h2>
    <form action="survey">
        <label for="first">First Name:</label>
        <input id="first" type="text" name="first"/>
        <label for="last">SurName:</label>
        <input id="last" type="text" name="last"/>
        <label for="email">Email Address:</label>
        <input id="email" type="email" name="email"/>
        <label for="age">How old are you?</label>
        <input id="age" type="number" name="age">
        <label for="favourite">•	Which of the following drinks categories do you consume?</label>
        <input id="beer" type="radio" name="favourite" value="Beer">Beer
        <input id="wine" type="radio" name="favourite" value="Wine">Wine
        <input id="softdrinks" type="radio" name="favourite" value="Soft Drinks">Soft Drinks
        <input id="hotdrinks" type="radio" name="favourite" value="Hot Drinks">Hot Drinks
        <label for="student">Are you a student?</label>
        <input id="student" type="checkbox" name="student">
    </form>
    </body>
</html>

